*.blend
*.blend1
stage.glb
stage2.glb
world_before.glb
world_before.zip
word_working.glb
world.zip
world_final.glb
world_working.glb
world_ori.glb
hanok.glb
food_pocha.glb
cube.glb
cloneworld.glb"build/assets/world.glb" 
